/* 1. External URLs must always go first */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700;800&display=swap");

/* 2. Then Tailwind */
@import "tailwindcss";

/* 3. Then your custom base styles and utility classes */
body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}